{% extends "layout.html" %}
{% block content %}
<h1>橋本環奈ちゃん 類似度計算機</h1>
あなたの顔の写真をアップロードしてください。
<br>
<br>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/png, image/jpeg">
  <button type="submit">アップロード</button>
</form>

<!-- {% if images %}
  {% for path in images %}
    <div>
      <img src="images/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
      {{ path }}
    </div>
  {% endfor %}
{% endif %} -->

{% endblock %}
